<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="header__logo">
                <a href="/" class="link">
                    <img src="img/logo.svg" alt="" class="logo">
                    <div class="header__logo__prev">
                        <span class="header__logo__left">Armenia</span> <span class="header__logo__right">Tur</span>
                    </div>
                </a>
            </div>
            <div class="header-burger">
                <span></span>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="/hotel" class="header__nav__link link">Проживание</a>
                    </li>
                    <li class="header__item">
                        <a href="/excursions" class="header__nav__link link">Экскурсии</a>
                    </li>
                    <li class="header__item">
                        <a href="/restaurant" class="header__nav__link link">Рестораны</a>
                    </li>
                    <li class="header__item">
                        <a href="/attraction" class="header__nav__link link">Достопримечательности</a>
                    </li>
                </ul>
                <!-- <button href="#" class="header__nav__singin link">Войти</button>
                <button href="" class="header__nav__singup link">Регистрация</button> -->
            </nav>
        </div>
    </div>
</header>